html
    head
        title What's Going On?
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        meta(name="description" content="users can see how many users are going to a local bar")
        meta(name="keywords" content="HTML,CSS,JavaScript,c9,Heroku,Pug,Jade,Sass,JQuery,MongoDB,Mongo,Mongoose,Node,Node.js,Gulp")
        meta(name="author" content="elisecode247")
        link(rel="shortcut icon" href="public/img/myfavicon.ico")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/308710/bootstrap-social.css")
        link(rel="stylesheet", href="../../public/css/styles.css")
    body
        div.container
          div.page-header.row
            h1 Plans tonight?
            p See which bars are hoppin' tonight and RSVP ahead of time!
            p Remember: take a cab and drink responsibly.
          if (loggedIn === false)  
            div.row.buttons--sign-in
              div.col-xs-12
                a.btn.btn-social.btn-twitter(href="/auth/twitter")
                  span.fa.fa-twitter
                  | Sign in with Twitter
              div.col-xs-12.buttons--sign-in
                a.btn.btn-social.btn-github(href="/auth/github")
                  span.fa.fa-github
                  | Sign in with Github
          else
            div.row
              div.col-xs-12.buttons--sign-in
                | Hello, 
                span(id="display-name", class="profile-value") #{displayName}
                | !
              div.col-xs-12.buttons--sign-in
                a.button.btn.btn-default(href="/logout") Log Out
          div.row
            div.col-xs-12
              input.form-control.input--search(placeholder="Which city are you at?")
        div#react-app.container
          i.glyphicon.glyphicon-refresh
        footer
          p 
            a.btn.btn-social.btn-github(href="https://github.com/elisecode247/whats-going-on-tonight")
              span.fa.fa-github
              | view source code 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://use.fontawesome.com/610b820b5f.js")
        script(type='text/javascript', src='common/ajax-functions.js')
        script(src="../../public/js/source.min.js")
        
